html {
   background: gray;
}

body {
   font: 12pt/14pt Georgia, Times New Roman, Bitstream Vera Serif;
   background: white;
   width: 30em;
   padding: 1cm;
   margin: 1cm auto;
   border: 1px solid black;
}

h1 {
   text-align: center;
   font-size: 24pt;
   line-height: 28pt;
}

h2 {
   font-size: 18pt;
}

tt, pre, code {
   font: 10pt/12pt Bitstream Vera Sans Mono, Courier New, Courier, fixed;
}

pre {
   border: 1px dashed black;
   background-color: #eee;
   padding: 5pt;
}

dd {
   margin-top: 0.3em;
   margin-bottom: 1em;
}
